.fi {
  background-size: contain;
  background-position: 50%;
  background-repeat: no-repeat;
  position: relative;
  display: inline-block;
  width: 1.33333333em;
  line-height: 1em;
}

.fi:before {
  content: '\00a0';
}

.fi-rs {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 480'%3E%3Cg fill-rule='evenodd' stroke-width='1pt'%3E%3Cpath fill='%23fff' d='M0 0h640v480H0z'/%3E%3Cpath fill='%230000b4' d='M0 0h640v320H0z'/%3E%3Cpath fill='%23ff0000' d='M0 0h640v160H0z'/%3E%3C/g%3E%3C/svg%3E");
}

.fi-de {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 480'%3E%3Cpath fill='%23ffce00' d='M0 320h640v160H0z'/%3E%3Cpath d='M0 0h640v160H0z'/%3E%3Cpath fill='%23d00' d='M0 160h640v160H0z'/%3E%3C/svg%3E");
}

.fi-us {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 640 480'%3E%3Cpath fill='%23fff' d='M0 0h640v480H0z'/%3E%3Cpath fill='%23002868' d='M0 0h640v240H0z'/%3E%3Cpath fill='%23bf0a30' d='M0 0l20 14.4L40 0h20l-20 14.4L60 0h20l-32 24 12 8.8-20-14.4L28 32.8l12-8.8L8 24z'/%3E%3C/svg%3E");
}